@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:400');

body.references {
  margin: 1in;
  padding: auto;
}
/* 
h1.references {
  text-align: center;
  margin-bottom: 2em;
} */

ul.references {
  list-style-type: none;
  padding-left: 0;
}

ul.references li {
  margin-bottom: 1em;
  text-indent: -0.5in;
  padding-left: 0.5in;
}

ul.references li::after {
  content: ".";
  display: inline-block;
  width: 0.5in;
}