@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {
  font-family: 'Poppins', sans-serif;
  background-color: #F4EEDC;
} 

body {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75;
  color: black;
  display: block;
}
img {
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
  color: rgb(121, 3, 3);
  font-weight: 800;
  text-align: center;
}

h2 {font-size: 2.441rem;
  color: rgb(2, 93, 103)}

h3 {font-size: 1.953rem; text-align: center; position: relative; color: rgb(2, 93, 103)}

h4 {font-size: 1.563rem; color: rgb(2, 93, 103);}

h5 {font-size: 1.25rem;}

.small, .text_small {font-size: 0.8rem;}

/* navigation bar */
.nav-list {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  top: auto;
  list-style: none;
  align-content: end;
  text-align: end;
  /* font-family: 'Poppins', sans-serif; */
} 
footer {
  text-align: end;
  color: black;
  display: block;
  margin: 2rem 0 1.38rem;
  padding: 0;
}
/* 
.nav-item {
} 

.nav-link {

} */

/* everylayout card & grid  */
.flex-card {
  display: flex;
  flex-wrap: wrap;
}

.flex-grid {
  flex: 1 1 30ch
}

/* main interaction button to initiate reshuffle action*/
.shuffle-button {
  display: inline-block;
  font-size: 1.953rem; position: relative;
  text-align: center;
  border: 3px solid black;
  background-color: rgb(121, 3, 3);
  color: white;
  margin: 3rem 0 1.38rem;
  padding-block: 1rem 1.5rem;
  margin-inline: 50%;
  transition-duration: .4s;
  }
  .shuffle-button:hover{
    background-color: rgba(50, 30, 37, 0.8);
    border-radius: 2px;
    cursor: auto;
    border: 5px ridge black;
  }

 /* || original card grid */
 .cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: static;
}

/* ||original card styling */
 .card {
  width: 220px;
  height: 400px;
  display: flex;
  /* border: 5px ridge black; */
  box-sizing: content-box;
  /* background: linear-gradient(to right, rgba(107, 162, 217, 0), rgb(255, 0, 212)); */
  margin: 2ch;
  padding: 1px;
  cursor: auto;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: rgb(215, 202, 234, .5); 
 }

.one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.two {
  height: 85%;
  display: flex;
  padding: 1px;
  font-size: small;
  text-align:end;
  font-kerning: auto;
  border: 1px gray;
}

.three {
  display: flex;
  height: 15%;
  justify-content: center;
}

.four {
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 10px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.six {
  border: 1px gray;
  height: 20%;
  max-width: 800ch;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card_img {
  height: 400px;
  width: 230px;
  object-fit: cover;
  background-size: cover;
  padding: 1px;
  box-sizing: border-box;
  border: 5px ridge black;
  }

.cupstwo-sw {
  /* background-image: url('../assets/img/Cups02.jpg'); */
  background-size: cover;
  }

.cupsqueen-et {
  /* background-image: url('../assets/img/Etteilla-QueenCups.jpeg');  */
  background-size: cover;
  }

.cupsfour-minch {
  /* background-image: url('../assets/img/MinchiateCups04.jpg');  */
  background-size: cover;
  }

.cupstwo-sbus {
  /* background-image: url('../assets/img/Sola_Busca_Cups02.jpg');  */
  background-size: cover;
  }

.cupsknave-bv {
  /* background-image: url('../assets/img/Bembo-Visconti-KnaveOfCups.jpg');  */
  background-size: cover;
  }

.chaos-ddames {
  /* background-image: url('../assets/img/ChaosOracleDuDames.jpg');  */
  background-size: cover;
  }

.cupsthree-sw {
  /* background-image: url('../assets/img/Three_of_Cups\,_Waite-Smith_Tarot_Deck\,_Yale_University.jpg');  */
  background-size: cover;
  }

.cupsnine-tarok {
  /* background-image: url('../assets/img/TarokkKartya_Barely_09Cup.jpg'); */
  background-size: cover;
  } 

 .cupsace-sw {
  /* background-image: url('../assets/img/assets/img/AceOfCupsFlickr.jpg');  */
  background-size: cover;
  } 